DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"

CLOUDINARY_API_SECRET="your-cloudinary-api-secret"
CLOUDINARY_API_KEY="your-cloudinary-api-key"
CLOUDINARY_CLOUD_NAME="your-cloudinary-cloud-name"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your-cloudinary-cloud-name"
NEXT_PUBLIC_CLOUDINARY_API_KEY="your-cloudinary-api-key"
